.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem ;
  background-color: var(--background-color);
  color: white;
  gap: 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.logo span {
  color: var(--secundary-color);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--light-color);
  width: 60%;
  position: relative;
}

.search-bar input {
  border: none;
  background-color: transparent;
  color: var(--light-color);
  padding: 5px;
  font-size: 0.9rem;
  width: 100%;
  outline: none;
}

.search-results {
  position: absolute;
  top: 100%;
  background-color: var(--background-color);
  border: 1px solid var(--light-color);
  z-index: 1;
  border-radius: 10px;
}

.search-result {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #eeeeee5d;
  padding: 0.5rem 0;
  margin: 0 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.search-result:hover {
  transition: 0.3s;
  opacity: 0.8;
  background-color: var(--shadow-color);
}

.search-bar button {
  background-color: var(--secundary-color);
  border: none;
  color: var(--light-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  transition: 0.3s;
}

.search-bar button:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.user-actions {
  display: flex;
  gap: 1.5rem;
}

.user-actions button {
  color: var(--light-color);
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.user-actions button:hover {
  scale: 1.1;
  transition: 0.3s;
}

#sing-in {
  background-color: var(--secundary-color);
  border: none;
  color: var(--light-color);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

#sing-in:hover {
  opacity: 0.8;
}

#active {
  color: var(--secundary-color);
  border-bottom: 2px solid var(--secundary-color);
  font-weight: 700;
}

@media (max-width: 450px) {
 .search-bar {
  display: none;
 }

 .user-actions button:not(:last-child) {
  display: none;
 }
}